# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.tgz
*.tar.gz

# Debug
*.log

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Tests
tests/
run-tests.js

# Git
.git
.gitignore

# GitHub
.github

# IDE
.vscode
.idea

# OS
Thumbs.db

# Temporary files
*.tmp
*.temp